.metric-background {
  background-color: lavender;
  width: 100%;
  height: 60vh;
  border-radius: 10px;
}

.flex-home {
  display: flex;
  gap: 7%;
  padding: 0 15px;
  flex-wrap: wrap;
}

.metric {
  color: #272789;
  font-weight: 700;
  font-size: 26px;
}
